<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nexgo.apiv3demo">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".NexgoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".EmvActivity2"
            android:exported="false" />

        <activity
            android:name=".DUKPTActivity"
            android:exported="false" />

        <activity
            android:name=".DesfireActivity"
            android:exported="false" />

        <activity
            android:name=".PlatformActivity"
            android:exported="false" />

        <activity
            android:name=".ExtPinPadActivity"
            android:exported="false" />

        <activity
            android:name=".PinpadActivity"
            android:exported="false" />

        <activity
            android:name=".PrinterActivity"
            android:exported="false" />

        <activity
            android:name=".PinpadCustomLayoutActivity"
            android:exported="false" />

    </application>

</manifest>